.xbig {
  font-size: 3rem;
}
.big {
  font-size: 2.2rem;
}
.medium {
  font-size: 1.6rem;
}
.small {
  font-size: 1rem;
}
.xsmall {
  font-size: 0.6rem;
}

.center {
  margin: auto;
  text-align: center;
}

.red {
  color: rgb(255, 70, 70);
}
.green {
  color: rgb(60, 160, 20);
}
.blue {
  color: rgb(100, 160, 255);
}
.black {
  color: rgb(0, 0, 0);
}
.white {
  color: rgb(240, 240, 240);
}

.arial {
  font-family: "arial", serif;
}

.noListStyle {
  list-style: none;
}
