@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
	font-family: 'Source Sans Pro';
	margin:0;
	padding:0;
}

:root {
	--headerbg:#66C7F4;
	--bg:#ffffff;
	--fg:#293241;
}

html, body {
	width:100%;
	/* https://stackoverflow.com/questions/18779708/scrolltop-with-animate-not-working */
	height:auto;
	min-height:100%;
	overflow-x:hidden;
}

header {
	float:left;
	width:100%;
	height:10%;
	position:fixed;
}

header nav ul {
	float:left;
	width:100%;	
	height:10%;
	list-style-type:none;
}

header nav ul li {
	float:left;
	width:16.6666666666666666666666666666666666666666666666%;
	height:100%;

	display:flex;
	justify-content:center;
	line-height:10vh;
	background:var(--headerbg);

}

header nav ul li.active {
	background:var(--fg);
}

header nav ul li.active a {
	color:var(--headerbg);
}

header nav ul li a {
	color:var(--fg);
	text-decoration:none;
	font-size:150%;
}

header nav ul li a#title {
	font-style:italic;
}

section.sect {
	float:left;
	width:90vw;
	height:90vh;

	margin:0 5vw;
	padding-top:10vh;
}

#classes-section {
	height:140vh;
}

#students-section {
	height:240vh;
}

section.sect h3 {
	float:left;
	width:100%;
	height:5%;

	font-size:150%;
}

section.sect p {
	float:left;
	width:100%;
	height:5%;

	text-align:left;
	text-indent:2%;
}

section.sect textarea {
	float:left;
	width:calc(14.28% - 10.5px);
	height:calc(10% - 10.5px);
	border:solid 0.25px #1a1a1c;
	margin:2.5px;
	padding:2.5px;
	outline:0;

	font-size:150%;
	-moz-resize:none;
	resize:none;

	text-align:center;
}

#teachers-section p {
	margin-bottom:2.5vh;
}

#t-classids {
	width:calc(42.8vw - 10.5px);
}

#students-section p {
	margin-bottom:2.5vh;
}

#s-classids {
	width:calc(36vw - 10.5px);
}

section.sect ul.list {
	float:left;
	width:100%;
	padding-top:2.5%;
	height:75%;
	list-style-type:none;
}

section.sect ul.list li {
	float:left;
	width:50%;
	height:5vh;
}

section.sect ul.list li:hover {
	background:#ccc;
}

section.sect ul.list li:hover button {
	background:#ccc;
}

section.sect ul.list li h1 {
	float:left;
	padding-left:1vw;
	width:80%;
	font-size:100%;
	line-height:5vh;
}

section.sect ul.list li button {
	float:left;
	width:10%;
	float:left;
	border:0;
	font-size:150%;
	height:100%;
}

#structure-section textarea, #structure-section button {
	float:left;
	width:calc(50% - 10px);
	height:calc(10% - 10px);
	border:0;
	outline:0;
	margin:5px;
	padding:0;
	background:var(--headerbg);
	font-size:100%;
}

#structure-section textarea {
	line-height:calc(9vh - 10px);
}

#result-section {
	float:left;
	width:60vw;
	height:60vh;
	margin:0 20vw;
	padding-top:10vh;

	text-align:center;
}

#result-section button, #result-section input, #result-section select {
	width:30vw;
	height:5vh;

	font-size:100%;
}

#result-section input {
	text-align:center;
}

#structure-section h1 {
	float:left;
	width:100%;
	height:10%;
	text-align:center;
}

#canvases {
	text-align:center;
}

@media only screen and (max-width: 800px){
	header nav ul li a {
		font-size:75%;
	}

	section.sect * {
		margin-top:2.5vh;
		margin-bottom:2.5vh;
	}

	section.sect p {
		height:50vh;
	}

	section.sect textarea {
		font-size:20%;
		height:2vh;
	}
}

