body {
  background-color: grey;
}

canvas {
  cursor: none;
  padding: 0;
  margin: auto;
  display: block;
  background-color: black;
}

#game-description {
  width: 60%;
  background-color: rgba(0, 0, 0, 0.2);
}

#game-controls {
  font-size: 0.7rem;
  background-color: rgba(0, 0, 0, 0.2);
}
