* {
    font-family: Helvetica, Verdana, Arial;
    background-color: rgb(200, 200, 200);
}

.center {
    display: block;
    margin: auto;
    text-align: center;
    list-style-position: inside;
}

.not-center {
    display: block;
    margin: auto;
    text-align: left;
    list-style-position: inside;
}

a:hover {
    text-decoration: none;
}

#instructions {
    margin-left: 20%;
    margin-right: 20%;
}

#sets button {
    margin-left: 1%;
    margin-right: 1%;
}
#file {
    background-color: rgb(220, 220, 220);
}

#navigation {
    padding: 0%;
    width: 60%;
}
#navigation li {
    float: left;
    list-style: none;
    text-align: center;
    margin: 0.8%;
    width: 23.4%;
}

#flashcard {
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 40%;
    height: 40%;
    background-color: rgb(250, 250, 250);
}

#front-content {
    background-color: rgb(250, 250, 250);
}
#back-content {
    background-color: rgb(250, 250, 250);
}
