.xbig {
  font-size: 300%;
}
.big {
  font-size: 220%;
}
.medium {
  font-size: 160%;
}
.small {
  font-size: 100%;
}
.xsmall {
  font-size: 60%;
}

.center {
  margin: auto;
  text-align: center;
}

.red {
  color: rgb(255, 70, 70);
}
.green {
  color: rgb(60, 160, 20);
}
.blue {
  color: rgb(100, 160, 255);
}

.arial {
  font-family: "arial", serif;
}

.noListStyle {
  list-style: none;
}

button {
  display: inline-block;
  margin: 2%;
  font-family: "arial", serif;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
}
